@import 'config';
@import 'pages';

.wrap-bg {
  border: 2px solid red;
  height: auto;
  background: url(../img/one.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#wrap {
  border: 2px solid blue;
  height: 90vh;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

#header-container {
  border: 2px solid orange;
  height: 450px;
  display: flex;

  .header-inner {
    border: 2px solid brown;
    background-color: $second-color;
    display: flex;
    width: 954px;
    height: 100%;

    #site-title {
      border: 2px solid cyan;
      flex-grow: 1;
      background: url(../img/logo.jpg);
      background-size: cover;
      padding: 2rem;
      a {
        color: black;
      }
    }

    .header-nav {
      border: 2px solid lightgreen;
      flex-grow: 2;
    }
  }
}

main {
  border: 2px solid green;
  height: 1033px;
}

footer {
  border: 2px solid purple;
  height: 228px;
}